doctype html
html(lang='en')
  head
    include ../title.pug
    include ../stylesheets.pug
    link(rel='search', type='application/opensearchdescription+xml', title='JWT.io', href='/opensearch.xml')
    include ../icons.pug

  body
    .content
      block content

    footer
      .container
        .columns
          p This is a stripped down fork of the really excellent legacy version of the <a href="https://jwt.io">jwt.io</a> app, created by Auth0 Inc.
